body{/*Estils per el body*/
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 13px;
}
a{/*Estils per la lleetra*/
    text-decoration: none;
    cursor: pointer;
}
header{/*Estil per la capçalera*/
    width: 100%;
    height: 60px;
}
header nav{/*Estil per la barra de navegació*/
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: space-between;
}
header nav .nav-right,.nav-left{/*Estil de navegació*/
    width: 250px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .nav-left{/*Estil de la navegació esquerra*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
nav .nav-right, a{/*Estil de la navegació dreta*/
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.479);
}
nav .nav-right .menu-icon{/*Estil per la icona de menu*/
    background-image: url('https://cdn-icons-png.flaticon.com/512/17/17704.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 20px;
    height: 20px;
    margin-left: 25px;
}
nav .nav-right .button1 button{/*Estil per els botons*/
    height: 36px;
    width: 120px;
    background-color:#1a73e8;
    border: none;
    font-size: 13px;
    border-radius: 4px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 17px;
    color: white;
    text-align: center;
    margin-right: 20px;
}

nav .nav-right .button1 a{
    margin: auto;
    color: white;
    text-align: center;
}
main{/*Estil per el contingut de centre*/
    margin-top: 100px;
    text-align: center;
}
main .logo{/*Estil per el logo de Google*/
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px ;
}
main .logo img{
    width: 272px;   
}
main .input{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .input input{/*Estils del buscador de google*/
    width: 100%;
    height: 25px;
    border: 1px solid #a09f9fc8;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    padding: 10px;
}
main .input-container:hover{
    box-shadow: 0 1px 6px 0 #d6d6d6;
}
main .input .search-icon{/*Estil per la icona de cerca*/
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 375px;
    left: 520px;
    align-items: center;
    width: 18px;
    height: 18px;
}
main .input .micro-icon{/*Estil per la icona de microfon*/
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 375px;
    left: 1020px;
    align-items: center;
    width: 18px;
    height: 18px;
}

main .input .search-icon .micro-icon img{
    left: 300px;
}
main .input img{
    display: inline-block;
    width: 18px;
    height: 18px;
}
main .search-icon img {
    display: flex;
    justify-content: center;}
main .buttons div{
    width: 530px;
    margin: 0 auto;
}
main .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
main .buttons button{
    height: 36px;
    border: none;
    font-size: 14px;
    color: #3c4043;
    border-radius: 5px;
    padding: 0 16px;
    margin: 5px;

}
main .buttons button:hover{
    border: 1px solid;
    box-shadow: 1px;
    color: #202124;}
.idiomas{
    margin-top: 10px;
}
.idiomas a{/*Estil per l'apartat de idioma*/
    color: #1a73e8;
}
footer{
    width:100%;
    position: absolute;
    bottom: 0;
    align-items: center;
    background-color: #e1e2e6;
}
footer a{
    margin: 10px;
    display: flex;
}

footer a{
    color: #5f6368;
}

footer img{/*Estil per la imatge*/
    height: 12.25px;
    width: 14px;
    padding-right: 2px;
}
footer div{/*Estil per el contenidor de la peu de pàgina*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
footer div .footer3{/*Estil per la peu de pàgina*/
    margin: auto;
    padding-right: 50px;
}

